.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  min-height: 48px;
  border-radius: 100px;
  background: var(--badges);
  mix-blend-mode: multiply;
  font-size: 16px;
  color: var(--main);
}

.badge svg {
  color: var(--gray);
  font-size: 20px;
}
