.gallery {
  width: 638px;
  flex-shrink: 0;
}

.mainSwiper {
  width: 100%;
  margin-bottom: 24px;
}

.mainImageWrapper {
  position: relative;
  width: 100%;
  height: 505px;
  border-radius: 17px;
  overflow: hidden;
}

.thumbsSwiper {
  width: 100%;
}

.thumbsSwiper :global(.swiper-slide) {
  width: 136px;
  height: 144px;
}

.thumbWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
}

.image {
  object-fit: cover;
}

.gallery :global(.swiper-slide-thumb-active) .thumbWrapper {
  border-color: var(--grey-green);
}

.gallery :global(.swiper-button-next),
.gallery :global(.swiper-button-prev) {
  color: var(--main);
}
